body{
  background: green;
}

.North{
  position : absolute;
  width: 100%;
  top : 0;
  height : 100px;
  margin-bottom : 20px;
  margin-top : 20px;
  background-color: grey;


}
.West{
  position : absolute;
  width: 35%;
  left:0;
  height: 240px;
  margin-top: 180px;
  background-color: grey;


}
.East{
  position : absolute;
  width: 35%;
  right:0;
  height: 240px;
  margin-top: 180px;
  background-color: grey;

}
.South{
  position : absolute;
  width: 100%;
  bottom : 0;
  height : 100px;
  margin-top : 20px;
  margin-bottom : 20px;
  background-color: grey;

}

.eastCard{
  float: left;
  background-color: darkred;
  width: 65px;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.northCard{
  float: left;
  background-color: darkred;
  width: 65px;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.westCard{
  float: left;
  background-color: darkred;
  width: 65px;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.southCard{
  float: left;
  background-color: white;
  width: 65px;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.middleCard{
  float: left;
  background-color: white;
  width: 75px;
  height: 90px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.box{
  background-color: rgba(0,0,0,0.5);
  padding: 300px;
  width: 650px;
  padding-left: 550px;
  padding-top: 100px;
/*  margin: 100px auto;
*/  
  text-align: center;
  text-decoration: none;
  color: black;
}

.scoreBoard{
  color: white;
  float:left;

}

/*.wrapper div:hover{
  margin-bottom: 10px;
}*/

.South div:hover{
  margin-bottom: 20px;
}
/*  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);*/
}
